<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="c:\tmp\ExecutionLog.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}" />
        <!--<conversionPattern value="%newline%newline%date %newline%logger                         [%property{NDC}] %newline&gt;&gt; %message%newline" />-->
        <conversionPattern value="%date:  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Services_All-20170430031020.mdf;Initial Catalog=aspnet-Services_All-20170430031020;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <appSettings>
    <add key="misc" value="C:\Users\faisal\Documents\Visual Studio 2015\Projects\ClinicianAutomation\ClinicianAutomation\queries_scripts\Misc\" />
    <add key="jenkins_batch_path" value="C:\AIMSAutomation\Batfile\AIMSWorkFlow.bat" />
    <add key="Provider_Reg_Key" value="4A669508-460E-4FA9-8569-7AF832FC8F7A" />
    <add key="TPO_BaseAddress" value="http://10.162.176.90/api/" />
    <add key="TPO_AttachmentAddress" value="http://10.162.176.90:9494/api/" />
    <add key="TPO_IDOL_Folder" value="C:\Users\faisal\Documents\Visual Studio 2015\Projects\Services_All\Services_All\App_Data\TPO_IDOL\" />
    <add key="DHPO_Idol_Folder" value="C:\Users\faisal\Documents\Visual Studio 2015\Projects\Services_All\Services_All\App_Data\DHPO_IDOL\" />
    <add key="Aims_execution_batch_path" value="C:\Users\faisal\Desktop\saalam.bat" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="Aims_Folder_Path" value="C:\tmp\"></add>
    <add key="Aims_Idol" value="C:\AIMS TEST\" />
    <add key="Aims_Nexus_Username" value="releaseAdmin" />
    <add key="Aims_Nexus_Password" value="releaseAdmin@123" />
    <add key="Aims_Nexus_URL" value="10.11.13.199" />
    <add key="CERTNAME_QA" value="DHCI-MURUGAVELL.DHCA.local" />
    <add key="CERTNAME_PROD" value="DHCRINT.DHCA.AE" />
    <add key="Enviorment_isQA" value="0" />
    <add key="NoofDaysFromDate" value="10" />
    <add key="EmailQueue" value="C:\tmp\Rana D\" />
    <add key="to_schedule" value="true" />
    <!--<add key="FTPHost" value="10.11.13.40"/>-->
    <add key="FTPHost" value="10.162.176.62" />
    <add key="FTPUsername" value="dhccSupport" />
    <add key="FTPPassword" value="20160727" />
    <add key="FTPLocalPath" value="C:\Tmp\CheckFTP\" />

    <add key="DHAProfessional_Dir" value="C:\tmp\Sheryan\" />
    <add key="DHAProfessional_URL" value="https://api.dubai.gov.ae" />
    <add key="DHAProfessioanl_URL_Link" value="/secure/dha/sheryan/getprofessionals/1.0.0/level3" />
    <add key="DHAProfessional_Username" value="dha_eclaim_usr" />
    <add key="DHAProfessional_Password" value="FM8sLBnWvK" />
    <add key="counter_limit" value="20" />

  </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />

  </system.webServer>
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom> 
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GatewaySoap">
          <security mode="Transport" />
        </binding>
        <binding name="GatewaySoap1" />
        <binding name="ClinicianAuthonticationSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ClinicianAuthonticationSoap1" />
        <binding name="ValidateTransactionsSoap" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ValidateTransactionsSoap1" />
        <binding name="eRxValidateTransactionSoap">
          <security mode="Transport" />
        </binding>
        <binding name="eRxValidateTransactionSoap1" />
        <binding name="basicEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="DimensionsPbmWSPortBinding" />
        <binding name="MemberUpdateWSPortBinding" />
        <binding name="PayerIntegrationWSPortBinding" />
        <binding name="WebservicesSoap" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="WebservicesSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="GI" />
        <binding name="ICMServiceServiceSoapBinding" />
        <binding name="ClaimsAndAuthorizationsArchiveSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ClaimsAndAuthorizationsArchiveSoap1" />
        <binding name="ClaimsAndAuthorizationsArchiveSoap2" />
        <binding name="BasicHttpBinding_IMedicalService">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="LabValidateTransactionSoap" />
        <binding name="RadValidateTransactionSoap" />
        <binding name="HCPServiceSoap" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="HCPServiceSoap2" closeTimeout="00:30:00" openTimeout="00:30:00"
          receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ValidateTransactionsSoap2" />
        <binding name="WebservicesSoap2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GatewaySoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="DataSyncServiceServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="wsHttpEndpoint">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://eclaimlink.dimensions-healthcare.net/DHCEG/gateway.asmx"
        binding="basicHttpBinding" bindingConfiguration="GatewaySoap"
        contract="Ceed_Dhceg.GatewaySoap" name="GatewaySoap" />
      <endpoint address="https://dhpo.eclaimlink.ae/ClinicianAuthontication.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClinicianAuthonticationSoap"
        contract="Clinician_Authentication.ClinicianAuthonticationSoap"
        name="ClinicianAuthonticationSoap" />
      <endpoint address="https://dhpo.eclaimlink.ae/ValidateTransactions.asmx"
        binding="basicHttpBinding" bindingConfiguration="ValidateTransactionsSoap"
        contract="DHPO_Valid.ValidateTransactionsSoap" name="ValidateTransactionsSoap" />
      <endpoint address="https://dhpo.eclaimlink.ae/eRxValidateTransaction.asmx"
        binding="basicHttpBinding" bindingConfiguration="eRxValidateTransactionSoap"
        contract="ERX_ValidateTransactions.eRxValidateTransactionSoap"
        name="eRxValidateTransactionSoap" />
      <endpoint address="http://10.11.13.40/LMU/services/v1/dataSyncService"
        binding="customBinding" bindingConfiguration="DataSyncServiceServiceSoapBinding"
        contract="Lmu_DataSynch.DataSyncService" name="DataSyncServicePort" />
      <endpoint address="https://mr.eclaimlink.ae/MemberRegistration.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="basicEndpoint"
        contract="Member_Registration.IMemberRegistration" name="basicEndpoint" />
      <endpoint address="http://pbmswitch.com:9090/DimensionsPbmWS"
        binding="basicHttpBinding" bindingConfiguration="DimensionsPbmWSPortBinding"
        contract="PbmS_Dimension.DimensionsPbmWS" name="DimensionsPbmWSPort" />
      <endpoint address="http://pbmswitch.com:9090/MemberUpdateWS"
        binding="basicHttpBinding" bindingConfiguration="MemberUpdateWSPortBinding"
        contract="PbmS_Member.MemberUpdateWS" name="MemberUpdateWSPort" />
      <endpoint address="http://pbmswitch.com:9090/PayerIntegrationWS"
        binding="basicHttpBinding" bindingConfiguration="PayerIntegrationWSPortBinding"
        contract="PbmS_Payer.PayerIntegrationWS" name="PayerIntegrationWSPort" />
      <endpoint address="http://174.142.170.199/GI.svc" binding="basicHttpBinding"
        bindingConfiguration="GI" contract="NahdiVPN.IIntegration" name="GI" />
      <endpoint address="http://jenkins:8181/ICM/ws/ICMService" binding="basicHttpBinding"
        bindingConfiguration="ICMServiceServiceSoapBinding" contract="JenkinsICM.ICMService"
        name="ICMServicePort" />
      <endpoint address="https://dhpo.eclaimlink.ae/ClaimsAndAuthorizationsArchive.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClaimsAndAuthorizationsArchiveSoap"
        contract="DHPO_Archive.ClaimsAndAuthorizationsArchiveSoap" name="ClaimsAndAuthorizationsArchiveSoap" />
      <endpoint address="http://qa.dimensions-healthcare.net/DHPO/ClaimsAndAuthorizationsArchive.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClaimsAndAuthorizationsArchiveSoap2"
        contract="DHPO_Archive_QA.ClaimsAndAuthorizationsArchiveSoap"
        name="ClaimsAndAuthorizationsArchiveSoap1" />
      <endpoint address="https://medservice.tameen.ae/MedicalService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedicalService"
        contract="MedService.IMedicalService" name="BasicHttpBinding_IMedicalService" />
      <endpoint address="http://10.162.176.41/Labvalidatetransaction.asmx"
        binding="basicHttpBinding" bindingConfiguration="LabValidateTransactionSoap"
        contract="Jordan_LAB.LabValidateTransactionSoap" name="LabValidateTransactionSoap" />
      <endpoint address="http://10.162.176.41/Radvalidatetransaction.asmx"
        binding="basicHttpBinding" bindingConfiguration="RadValidateTransactionSoap"
        contract="Jordan_RAD.RadValidateTransactionSoap" name="RadValidateTransactionSoap" />
      <endpoint address="https://epayqa.dhcr.gov.ae/dha/HCPService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HCPServiceSoap2"
        contract="DHCCHCPService_QA.HCPServiceSoap" name="HCPServiceSoap1" />
      <endpoint address="https://epay.dhcr.gov.ae/dha/HCPService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HCPServiceSoap"
        contract="DHCCHCPService.HCPServiceSoap" name="HCPServiceSoap" />
      <endpoint address="http://qa.eclaimlink.ae/dhpo/validatetransactions.asmx"
        binding="basicHttpBinding" bindingConfiguration="ValidateTransactionsSoap2"
        contract="DHPO_QA_Valid.ValidateTransactionsSoap" name="ValidateTransactionsSoap1" />
      <endpoint address="http://eservicesstg.dha.gov.ae:6000/Services/eClaimLink.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpEndpoint"
        contract="IDAM_eClaimLink.IeClaimLink" name="wsHttpEndpoint" />
      <endpoint address="https://shafafiya.doh.gov.ae/v2/webservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebservicesSoap1"
        contract="Shafafiya.WebservicesSoap" name="WebservicesSoap" />
    </client>
  </system.serviceModel>
  
</configuration>